.App {
  text-align: center;
}

.App-logo {
  height: 70px;
  pointer-events: none;
}

.Main {
  display: flex;
  flex-direction: row;
}

.Main-Cart {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Main-Shop {
  flex: 8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 80px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
